@model RemittanceWebApp.Models.AlertModel

@if (Model != null)
{
    <div class="alert alert-dismissible @Model.CSSClass" style="border-radius: 50px !important;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>@Model.Heading</strong> @Model.Message
    </div>
}