<div class="column col-xs-2 sidebar-offcanvas" style="background-color:aliceblue" id="sidebar">
    <ul class="nav " id="menu">
        <li>
            <a href="#" data-target="#item1" data-toggle="collapse"><strong><i class="glyphicon glyphicon-list"></i> <span class="collapse in hidden-xs"> User Management <span class="caret"></span></span></strong></a>
            <ul class="nav nav-stacked collapse left-submenu" id="item1">
                <li><a href="/UserManagement/UserProfile"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Profile </span></a></li>
                <li><a href="/UserManagement/ChangePassword"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Change Password </span></a></li>
            </ul>
        </li>
        <li>
            <a href="#" data-target="#item2" data-toggle="collapse"><strong><i class="glyphicon glyphicon-list"></i> <span class="collapse in hidden-xs"> Admin Panel <span class="caret"></span></span></strong></a>
            <ul class="nav nav-stacked collapse left-submenu" id="item2">
                <li><a href="/Countries/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Add Countries </span></a></li>
                <li><a href="/Province/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Add Province </span></a></li>
                <li><a href="/City/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Add Cities </span></a></li>
            </ul>
        </li>

        <li>
            <a href="#" data-target="#item3" data-toggle="collapse"><strong><i class="glyphicon glyphicon-list"></i> <span class="collapse in hidden-xs"> Manage Products <span class="caret"></span></span></strong></a>
            <ul class="nav nav-stacked collapse" id="item3">
                <li><a href="/Products/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Products </span></a></li>
                <li><a href="/department/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Add Deparments </span></a></li>
                <li><a href="/Categories/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Add Categories </span></a></li>
                <li><a href="/SubCategories/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Add Sub Categories </span></a></li>
                <li><a href="/ProductFeatures/Manage"><i class="glyphicon glyphicon-list-alt"></i> <span class="collapse in hidden-xs">&nbsp; Product Specification </span></a></li>
            </ul>
        </li>

        <li><a href="#"><i class="glyphicon glyphicon-refresh"></i> <span class="collapse in hidden-xs">&nbsp; Refresh</span></a></li>
        <li><a href="/Users/Login"><i class="glyphicon glyphicon-log-out"></i> <span class="collapse in hidden-xs">&nbsp; Log out</span></a></li>

    </ul>
</div>
